/* ==UserStyle==
@name           Github - Centered Tab Menu
@namespace      github.com/karloluis/DevStyles
@version        0.0.1
@description    Helps with wide monitors by centering navigation tabs.
@preprocessor   stylus
@author         karloluis
@updateURL      https://raw.githubusercontent.com/karloluis/DevStyles/master/centered-tabs-menu.user.styl
@homepageURL    https://github.com/github.com/karloluis/DevStyles
==/UserStyle== */
@-moz-document domain("github.com") {
  .UnderlineNav {
      justify-content: center;
  }
}